@use 'variables' as *;

html {
  min-width: 360px;
  min-height: 100%;
  background-color: var(--color-background);
}

body {
  min-height: 100vh;
  font-family: $font-family-primary;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  transition:
    background-color $transition-standard,
    color $transition-standard;
}

button {
  border: 0;
  color: inherit;
  cursor: pointer;
}

#root {
  min-height: 100vh;
}
