.chat-messages {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
  overflow-y: auto;
  padding: 24px;

  &__placeholder {
    margin: auto 0 0;
  }

  > .chat-message:first-child {
    margin-top: auto;
  }
}
